/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #1b9476;
  --first-color-alt: #169273;
  --first-color-light: #1ebc95;
  --first-color-lighten: hsl(164, 100%, 97%);
  --second-color: #d0b07f;
  --title-color: #0c4f40;
  --text-color: hsl(228, 15%, 50%);
  --text-color-light: hsl(228, 12%, 75%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #fff;
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Montserrat', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s; /* For animation dark mode */
  }
  
  h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  input,
  button {
    font-family: var(--body-font);
    outline: none;
    border: none;
  }
  

/*=============== VALUE ===============*/
.value__container{
    row-gap: 3rem;
  }
  .value__images{
    position: relative;
    display: flex;
    justify-content: center;
  }
  .value__orbe{
    width: 266px;
    height: 316px;
    background-color: hsl(228, 24%, 97%);
    border-radius: 135px 135px 16px 16px;
  }
  .value__img{
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    inset: 0;
    margin: auto;
    box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
  }
  .value__description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
  }
  .value__accordion{
    display: grid;
    row-gap: 1.5rem;
    
  }
  .value__accordion-item{
    background-color: var(--body-color);
    border: 2px solid var(--border-color);
    border-radius: .5rem;
    padding: 1rem .75rem;
  }
  .value__accordion-header{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .value__accordion-icon{
    background-color: var(--first-color-lighten);
    padding: 5px;
    border-radius: 25rem;
    font-size: 18px;
    color: var(--first-color);
    margin-right: .75rem;
    transition : .3s;
  }
  .value__accordion-title{
    font-size: var(--small-font-size);
  }
  .value__accordion-arrow{
    display: inline;
    background-color: var(--first-color-lighten);
    padding: .25rem;
    color: var(--first-color);
    border-radius: 2px;
    font-size: 10px;
    margin-left: auto;
    transition: .3s;
  }
  .value__accordion-arrow i{
    transition: .4s;
  }
.value__accordion-description{
    font-size: var(--smaller-font-size);
    padding: 1.25rem 2.25rem 0 2.75rem;
}
.value__accordion-content{
    overflow: hidden;
    height: 0;
    transition: all .25s ease;
}

/*Rotate icon and add shadows*/

.accordion-open {
    box-shadow: 0 12px 32px hsla(228, 66%, 45%, .1);
}

.accordion-open .value__accordion-icon{
    box-shadow: 0 2px 4px hsla(146, 66%, 45%, 0.1);
}

.accordion-open .value__accordion-arrow{
    box-shadow: 0 2px 4px hsla(146, 66%, 45%, .1);
}

.accordion-open .value__accordion-arrow i{
 transform: rotate(-180deg);
}

/*=============== SUBSCRIBE ===============*/
.subscribe{
    padding: 2.5rem 0;
}

.subscribe__container{
    background-color: var(--first-color);
    padding: 3rem 2rem;
    border-radius: 1.25rem;
    border: 6px solid var(--first-color-light);
    text-align: center;
}

.subscribe__title{
    font-size: var(--h2-font-size);
    color: #fff;
    margin-bottom: 1rem;
}

.subscribe__description{
    color: hsl(146, 90%, 92%);
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.subscribe__button{
    border : 2px solid #fff;
    background: var(--first-color-light);
    font-size: var(--small-font-size);
}
.subscribe__button:hover{
    background-color: var(--first-color);
}

/*=============== FOOTER ===============*/

.footer__container{
    row-gap: 2.5rem;
}

.footer__logo{
    align-items: center;
    margin-bottom: .75rem;
}
.logo-footer{
    width: 150px;
}
.footer__logo i{
    font-size: 1.25rem;
}

.footer__description,
.footer__link{
    font-size :var(--small-font-size);
    font-weight: var(--font-medium);
}

.footer__content,
.footer__links{
    display: grid;
}
.footer__content{
    grid-template-columns: repeat(2, max-content);
}

.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;  
}

.footer__links{
    row-gap: .5rem;
}

.footer__link{
    color: var(--text-color);
    transition: .3s;
}

.footer__link:hover{
    color: var(--title-color);
}

.footer__social{
    display: flex;
    column-gap: 1rem;
}

.footer__social-link{
    font-size: 1.25rem;
    color: var(--text-color);
    transition: .3s;
}

.footer__social-link:hover{
    color: var(--title-color);
}
.footer__info,
.footer__privacy {
    display: flex; 
}

.footer__info{
    padding-bottom: 6rem;
    margin-top: 5.5rem;
    flex-direction: column;
    text-align: center;
    row-gap: 1.5rem;
}

.footer__copy,
.footer__privacy a{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
}
.footer__privacy{
    justify-content: center;
    column-gap: 1.25rem;
}